<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> !weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<br />
<br />
<center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" name="city" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
            </button>
            </div>
            <form>
</center>

<body>
    <nav class="row" style="background: #17c700ee; color: white;">

    </nav>

    <div class="row">
        {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity %}
        <div class="col-md-6 col-md-offset-3">

            <h2>{{data.cityname}} </h2>
            <h5>coordinate : {{data.coordinate}}</h5>
            <h5>temp (in kelvin) : {{data.temp}}</h5>
            <h5>temp (in celcius) : {{data.temp_cel}}</h5>
            <h5>pressure : {{data.pressure}} </h5>
            <h5>humidity : {{data.humidity}}</h5>
        </div>
        {% endif %}
    </div>
</body>



<style>
    h2 {
        text-align: center;
        background: #337ab7;
    }
    
    html {
        background: rgb(0, 0, 0);
    }
    body {
        background: rgb(0, 0, 0);
    }
    
    center {
        background: rgb(0, 0, 0);
    }
    
    body {
        background: rgb(0, 0, 0);
    }
    
    h5 {
        text-align: center;
        background: #337ab7;
    }
</style>



</html>